<section class="cardapio_title mob-dsiplay-n" id="cardapio-title">
  <h2>Chi setaccia fa sémola e farina</h2>
</section>
<section class="cardapio mob-dsiplay-n">
  <div class="cardapio_div">
    <div class="cardapio_text">
      <h2>Il nostro menù</h2>
      <h3>Nosso menu</h3>
      <p>
        A casa prepara suas próprias massas, tortas e até seu próprio sorvete.
        Adepta aos conceitos da organização italiana SlowFood, que tem como
        objetivo proteger as formas tradicionais de se fazer comida.
      </p>
      <div class="food_menu_btns">
        <a href="../../../../assets/pdf/menu-completo.pdf" target="_blank">MENU COMPLETO</a>
        <a href="../../../../assets/pdf/menu-executivo.pdf" target="_blank">MENU EXECUTIVO</a>
        <a href="imagens">GALERIA DE FOTOS</a>
      </div>
    </div>
    <div class="cardapio_vino">
      <h2>Carta dei Vini</h2>
      <h3>Carta de Vinhos</h3>
      <p>
        Aqui, tudo é preparado de maneira caseira, sempre procurando preservar o
        melhor paladar e o frescor dos alimentos. A noite, pizzas artesanais são
        abertas e assadas em fornos de pedra, garantindo, assim, o autêntico
        sabor italiano.
      </p>
      <div class="food_menu_btns">
        <a href="../../../../assets/pdf/carta-de-vinhos.pdf" target="_blank">CARTA DE VINHOS</a>
      </div>
    </div>
  </div>
</section>
