:host {
  width: 100%;

  main {
    width: 100%;
    margin-top: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgs {
      width: 100%;
      height: 55vh;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      transition: .7s;
    }

    .img-1{
      background-image: url(../../../assets/imgs/events/events-bg-1.jpg);
      transition: .7s;
    }

    .img-2{
      background-image: url(../../../assets/imgs/events/events-bg-2.jpg);
      transition: .7s;
    }

    .img-3{
      background-image: url(../../../assets/imgs/events/events-bg-3.jpg);
      transition: .7s;
    }

    .title {
      background-color: rgba(0, 0, 0, 0.803);
      max-width: 25%;
      display: flex;
      flex-direction: column;
      min-height: 23vh;
      margin-top: -18vh;
      color: white;
      text-align: left;
      padding: 2rem;

      h1 {
        font-family: 'park_lane_nfregular';
        font-weight: 100;
        font-size: 4rem;
        letter-spacing: 5px;
      }

      h2 {
        color: #a90b0e9b;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 2.6rem;
        letter-spacing: 4px;
      }
    }

    .text {
      padding: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      letter-spacing: 3px;
      width: 70%;

      h3 {
        color: white;
        font-size: 2rem;
        font-weight: 100;
      }

      p {
        margin-top: 1rem;
        font-size: 1.4rem;
        color: white;
      }
    }

    .celphone {

      padding: 2rem 0;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: 100;
      font-size: 1.4rem;

      h4 {
        padding: 1rem;
        letter-spacing: 5px;
        font-weight: 100;
        font-size: 2.3rem;
        font-family: 'park_lane_nfregular';
      }

      padding-bottom: 2rem;
    }
  }
}
