<section class="cinema_section mob-dsiplay-n" id="hist-id">
  <div class="bg_cinema">
    <h3>Um pé na cozinha</h3>
    <h2>E OUTRO NO CINEMA</h2>
    <div class="cinema_text">
      <p>
        Conduzido desde 1974 pela família dos italianos Nello e Rina de Rossi, o
        Restaurante Nello’s é referência na gastronomia de São Paulo, tendo sua
        comida premiada repetidas vezes. Conhecido pelo seu preço justo e pela
        simpatia de seus donos, se tornou local de encontro de intelectuais e
        artistas. A casa pitoresca exibe relíquias italianas e lembranças das
        produções de Nello – ator, diretor e produtor de cinema e criador do
        bordão “Bonita camisa, Fernandinho!” – que fez história na publicidade
        da tv brasileira.
        <br />
        <a href="historia">NOSSA HISTÓRIA</a>
      </p>
      <div class="cinema_imgs">
        <img
          class="cinema_img_1"
          src="assets/imgs/cinema/nellos-cinema-2.jpg"
          alt=""
        />
        <!-- <img
          class="cinema_img_2"
          src="assets/imgs/cinema/nellos-cinema-1.jpg"
          alt=""
        /> -->
      </div>
    </div>
  </div>
</section>
