:host {

  .burger {
    display: none;
  }

  header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 12vh;
    background-color: rgba(35, 35, 35, 0.447);
    box-shadow: 5px 0 3px rgb(23, 23, 23);
    padding: .5rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      width: 60%;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 1.5rem;
        letter-spacing: 2px;

        a {
          color: rgb(255, 255, 255) !important;
          text-decoration: none;
          transition: .2s;
        }

        a:hover {
          color: #bb2323 !important;
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  :host {
    img {
      width: 54%;
    }

    nav {
      display: none;
    }

    .burger {
      display: block;

      button {
        background-color: transparent;
        color: white;
        outline: none;
        border: none;
      }

      .burger_open {
        position: fixed;
        background-color: #3a0506f5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;

        .btn_close_div {
          width: 100%;
          display: flex;
          padding: .7rem;
          justify-content: flex-end;
        }

        .burger_nav {
          width: 100%;
          display: flex;
          justify-content: center;

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li{
              padding: 3.3vh;

              a{
                color: white;
                text-decoration: none;
                font-size: 2rem;
                letter-spacing: 3px;
              }
            }
          }
        }
      }
    }
  }
}
