@media(max-width: 1350px) {
  :host {
    .infos {
      flex-direction: column;

      .parking,
      .cards,
      .size {
        width: 100%;
        padding: 1rem 0;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  :host {
    main {

      .imgs {
        background-size: contain;
      }

      .title {
        max-width: none;
        width: 80%;

        h2 {
          font-weight: 500 !important;
          font-size: 2.8rem;
        }
      }

      .text {
        width: 100%;

        p {
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: 600px) {
  :host {
    main {
      .title{
        margin-top: -27vh;
      }
    }
  }
}
