:host {
  .delivery {
    min-height: 100vh;
    border: solid 1px transparent;
    background-image: url(../../../../assets/imgs/cardapio/nellos-cinema-bg-2.gif);
    background-attachment: fixed;
    box-shadow: inset 3px 3px 3px black;

    .background {
      background-color: rgba(56, 3, 3, 0.904);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 100vh;
      align-items: center;
    }

    h2 {
      margin-top: 14vh;
      font-size: 5rem;
      font-weight: 100;
      color: white;
      font-family: 'park_lane_nfregular';
      letter-spacing: 6px;
    }

    .dellivery_div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 5rem 3rem;

      .left {
        color: white;
        font-weight: 500;

        h3 {
          font-size: 3rem;
          font-weight: 300;
        }

        p {
          font-size: 1.5rem;
          padding: .4rem 0;
        }

        .celphone_p {
          margin-bottom: 1rem !important;
        }

        ul {
          padding: 1.8rem 0;
          list-style: none;

          li {
            padding: .4rem 0;
            font-size: 1.1rem;

            b {
              font-weight: 300;
            }
          }
        }

        h4 {
          font-weight: 300;
          padding: 1rem 0 1rem 0;
          font-size: 1.5rem;
          width: 70%;
        }

        a {
          color: white;
          font-size: 2rem;
        }

        .partners_img {

          display: flex;
          justify-content: flex-start;

          div {
            text-align: center;
            display: flex;
            flex-direction: column;

            img {
              height: 5.3rem;
              border-radius: 10px;
            }

            legend {
              font-size: 1.7rem;
              text-align: center;
            }
          }

          div:last-child {
            margin-left: 1.2rem;
          }

        }
      }

      .right {
        width: 55%;

        h4 {
          font-size: 3rem;
          color: white;
          font-weight: 100;
        }

        h5 {
          font-size: 1.5rem;
          padding: 1rem 0;
          color: white;
          font-weight: 100;
        }

        img {
          width: 100%;
          border: solid 2rem rgba(255, 255, 255, 0.927);
        }
      }
    }
  }
}
