<section id="delivery-id" class="delivery">
  <div class="background">
    <h2>Reservas e Delivery</h2>
    <div class="dellivery_div">
      <div class="left">
        <h3>Pinheiros:</h3>
        <p><i class="bx bxl-whatsapp"></i> 11 98802-0428</p>
        <p><i class="bx bx-phone"></i> 11 3082 4365 | 11 3938 3845</p>
        <ul>
          <li>
            <i class="bx bx-time i_time"></i> <b> TERÇA A SEXTA: </b
            ><i class="bx bx-sun"></i> 12:00h – 15:00h
            <i class="bx bx-moon"></i> 19h – 23h
          </li>
          <li>
            <i class="bx bx-time i_time"></i> <b> SÁBADO:</b>
            <i class="bx bx-sun"></i> 12:00h – 16:00h
            <i class="bx bx-moon"></i> 19:00h – 23:00h
          </li>
          <li>
            <i class="bx bx-time i_time"></i> <b> DOMINGO:</b>
            <i class="bx bx-sun"></i> 12:00h – 16:00h
            <i class="bx bx-moon"></i> 19:00h – 22:30h
          </li>
        </ul>
        <h4 class="h4_app">Baixe o app Nello’S agora mesmo!</h4>
        <a href="#">Baixar</a>
      </div>
      <div class="right">
        <h4>Localização e área de entrega:</h4>
        <h5><i class="bx bx-been-here"></i> Rua Antônio Bicudo, 101</h5>
        <img src="assets/imgs/delivery/nellos-area-entrega.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
