:host {

  .card {
    margin-top: 2rem;
    background-color: rgb(202, 202, 202);
    box-shadow: 0 0 3px #420809;
    width: 65vw;
    height: 48vh;
    background-image: url(../../../assets/imgs/cinema/nellos-cinema-bg-1.gif);
    position: static;
    z-index: 1;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    // padding-right: 1rem;

    .transparent {
      padding-bottom: 1rem;
      // padding-right: 1rem;
      width: 65vw;
      height: 48vh;
      position: static;
      z-index: 2;
      background-color: rgba(200, 200, 200, 0.664);
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-family: 'park_lane_nfregular';
        font-size: 3.4rem;
        width: 30%;
        letter-spacing: 5px;
        font-weight: 100 !important;
        margin-left: -5rem;
        color: #bf5859;
      }

      .img {
        margin-right: 2rem;
      }
    }
  }

  .div_btns {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border-radius: 100px;
      outline: none;
      margin: 0 8px;
      height: 30px;
      width: 30px;
      border: none;
      color: white;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #a90b0e9b;
      color: #a90b0e9b;
      padding: 5px;
      transition: .3s;
    }

    button:hover {
      background-color: #a90b0e9b;
      cursor: pointer;
      color: white;
    }

    .dot {
      border-radius: 100px;
      width: 10px;
      height: 10px;
      border: solid 1px rgb(49, 49, 49);
      margin: 0 10px;
      background-color: transparent;
      transition: .2s;
    }

    .dot:hover {
      cursor: pointer;
      background-color: rgb(49, 49, 49) !important;
    }
  }


}
