<app-header></app-header>
<main id="main-id">
  <section>
    <h1>Benvenuto</h1>
    <h2>Bem Vindo</h2>
    <div class="btns">
      <a href="#cardapio-title">Cardápio</a>
      <a href="#delivery-id">Pedidos</a>
    </div>
    <div class="news">
      <div class="carrossel">
        <img
          class="img-mobile"
          src="assets/imgs/home/nellos-home-1.jpg"
          alt=""
        />
      </div>
      <h3>NOVIDADES</h3>
      <p>
        restaurante da vila leopoldina fechado estamos muito orgulhosos de usar
        embalagens biodegradáveis!
      </p>
      <p>
        Pedidos aqui em nosso site ou pela rappi. Agora tambem na appjusto uma
        iniciativa que merece sua participação: appjusto.com.br/r/nellos
      </p>
    </div>
    <div class="promotions">
      <h3>Promoções</h3>
      <p>Diversos filmes nos videos de nosso facebook (clique) aproveitem!</p>
      <p>
        Seu pedido na palma da mão! Baixe agora no seu celular! Para ios e
        android! Primeiro pedido com entrega grátis dentro de nossa área! Clique
        aqui para baixar (ios ou android)
      </p>
    </div>
  </section>
  <section class="section_home_second">
    <div class="carrossel">
      <img src="assets/imgs/home/nellos-home-1.jpg" alt="" />
    </div>
    <div class="especialitys">
      <!-- <p style="padding-top: 1rem;"><b>Instagram</b></p> -->
      <p class="insta_p">
        <b>Visite nossa página no instagram:</b>
        <a
          style="
            padding: 0 0 0 1rem;
            border: none;
            display: inline;
            text-decoration: underline;
          "
          target="_blank"
          href="https://instagram.com/nelloscantina?igshid=YmMyMTA2M2Y="
          >@nelloscantina</a
        >
      </p>
      <h3>ESPECIALIDADES</h3>
      <a href="https://chat.whatsapp.com/IJfCVPA91lt5vNRr0Pvwsw"
        ><i class="bx bxl-whatsapp"></i> Grupo no whatsapp</a
      >
      <p>
        Entre no nosso grupo e saiba quando teremos especialidades (rabada,
        tripa, ossobuco, língua, cordeiro, bacalhau, gnocchi recheado, etc)
      </p>
    </div>
  </section>
</main>
<app-history></app-history>
<app-awards></app-awards>
<app-events></app-events>
<app-menu></app-menu>
<app-delivery></app-delivery>
